{% extends 'partials/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="row mt-5">
        <div class="col-md-4">
            <div class="card shadow">
                <div class="card-body">
               <h2>Aggregation</h2>
               <p>Total books count: {{total_books_count}}</p>
               <p>Total no of Bloomsburry books count: {{total_no_of_bloomsbury_books}}</p>
               <p>Average Price: {{avg_price.price__avg}}</p>
               <p>Max Price: {{max_price.price__max}}</p>
               <p>Min Price: {{min_price.price__min}}</p>
               <p>Price Difference: {{price_diff.price_diff}}</p>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            {% for book in book %}
            Name: {{ book.name }} <br>
            <br>
            
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}